In [1]:
mi_tupla = (2,4,6,8,10)

In [2]:
print(mi_tupla)

(2, 4, 6, 8, 10)

In [5]:
type(mi_tupla)

tuple

In [6]:
tupla_dias = ("lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo")

In [7]:
print(tupla_dias[1])

martes

In [8]:
"jueves" in tupla_dias

True

In [9]:
"Jueves" in tupla_dias

False

In [10]:
"jueves" in tupla_dias

True

In [11]:
tupla_dias.count("sabado")

1

In [12]:
mi_tupla_unitaria=("blanco",)

In [13]:
type(mi_tupla_unitaria)

tuple

In [14]:
mi_tupla = ("amarillo")

In [15]:
type(mi_tupla)

str

In [16]:
print(tupla_dias)

('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

In [17]:
tupla_dias[2]

'miercoles'

In [18]:
tupla_dias[1:4]

('martes', 'miercoles', 'jueves')

In [19]:
tupla_dias[0] ="Lunes"

TypeError: 'tuple' object does not support item assignment

In [20]:
x = 11
y = 22
z = "Henry"

In [21]:
mi_tupla = x,y,z

In [22]:
print(mi_tupla)

(11, 22, 'Henry')

In [23]:
type(mi_tupla)

tuple

In [24]:
date = (17, "septiembre", 1997)

In [25]:
print(date)

(17, 'septiembre', 1997)

In [26]:
type(date)

tuple

In [27]:
uno, dos, tres = date

In [28]:
print(uno)

17

In [29]:
print(dos)

septiembre

In [30]:
print(tres)

1997

In [32]:
uno, dos, tres, cuatro = date

ValueError: not enough values to unpack (expected 4, got 3)

In [33]:
tupla_impares=(1,3,5,7,9)

In [34]:
primero=tupla_impares [0]
cuatro = tupla_impares[3]
quinto = tupla_impares[4]

In [35]:
print(primero)
print(cuatro)
print(quinto)

1
7
9

In [44]:
 , , , cuatro, quinto = tupla_impares

(',', ',', 'cuatro,', 'quinto', '=', 'tupla_impares')

In [43]:
print(cuatro)
print(quinto)

7
9

In [46]:
lista_impares = list(tupla_impares)

In [47]:
print(lista_impares)

[1, 3, 5, 7, 9]

In [48]:
type(lista_impares)

list

In [49]:
nueva_tupla= tuple(lista_impares)

In [51]:
type(nueva_tupla)

tuple

In [50]:
print(nueva_tupla)

(1, 3, 5, 7, 9)